{% load staticfiles  %}
<html>
    <head>
       
        <title>Django Girls blog</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boostrap/3.3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
    <div class="black">
            <h1><a class="black" href="/">Up In the Whites</a></h1>
    </div>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
            <button class="dropbtn">Hikes
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                {% for post in posts %}
                    <h1><a onclick="" href="{% url 'post_detail' pk=post.pk %}">{{ post.title}}</a></h1>
                {% endfor %}
            </div>
        </div>
    </div>

       <!-- <div class="hikepic" >

        </div>-->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</html>
