h1 a {
    color: darkgreen;
}

h1 a.black {
    color: black;
}

a:link {
    text-decoration: none;
}

div.hikepic {
    height:500px;
    background: white url("/static/images/IMG_3647 (1).jpg") no-repeat;
    background-size: cover;
}
